<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <div class="main">
        <header class="header">
            <h1>My social media with React</h1>
        </header>
        <ul class="main__menu">
            <li class="main__menu-item">Profile</li>
            <li class="main__menu-item">Messages</li>
            <li class="main__menu-item">News</li>
            <li class="main__menu-item">Music</li>
            <li class="main__menu-item">Settings</li>
        </ul>
        <div class="content">
            <div class="profile">
                <img src="https://freesvg.org/img/Linux-Avatar.png" alt="avatar" width="150" height="150" class="profile_img">
                <div class="profile__info">
                    <div class="profile__name">
                        Maksim D.
                    </div>
                    <div class="profile__description">
                        Date of birth: 10 january
                    </div>
                    <div class="profile__description">
                        City: Yekaterinburg
                    </div>
                    <div class="profile__description">
                        URFU'15
                    </div>
                    <div class="profile__description">
                        Web-site: none
                    </div>
                </div>
            </div>
            <div class="posts">
                <h2 class="posts__title">
                    My posts
                </h2>
                <div class="posts__new">
                    <input type="text" class="posts__input" placeholder="Your new post...">
                    <button class="posts__button">Send</button>
                </div>
                <ul class="posts__list">
                    <li class="posts__item">Hey, why nobody love me?</li>
                    <li class="posts__item">It's our new program!</li>
                </ul>
            </div>
        </div>
        <footer class="footer">
            <p class="">React practice</p>
        </footer>

    </div>

</body>
</html>