* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #edeef0;
    font-family: Tahoma;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.main {
    display: grid;
    grid-template-areas:
        "header header"
        "menu content"
        "footer footer";
    grid-template-rows: 80px auto 80px;
    grid-template-columns: 1fr 5fr;
    gap: 15px;
    margin: 0 auto;
    max-width: 1200px;

}

.header {
    display: grid;
    grid-area: header;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}

.header h1 {
    margin: auto;
    font-size: 24px;
}

.main__menu {
    grid-area: menu;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}

.main__menu-item {
    margin-bottom: 10px;
}

.main__menu-item a {
    text-decoration: none;
    color: black;
}

.main__menu-item a.active {
    color: orange;
}

.content {
    display: grid;
    grid-template-rows: auto auto;
    gap: 15px;
}

.profile {
    display: grid;
    grid-template-columns: auto 1fr;
    border-radius: 5px;
    background-color: white;
    padding: 15px;
}

.profile__pic {
    width: 150px;
    height: 150px;
}

.profile__img {
    height: 100%;
    width: 100%;
}

.profile__info {
    margin-left: 15px;
}

.profile__name {
    font-size: 20px;
    margin-bottom: 15px;
}

.profile__description {
    margin-bottom: 10px;
}

.posts {
    padding: 15px;
    border-radius: 5px;
    background-color: white;
}

.posts__title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: normal;
}

.posts__new {
    display: grid;
    grid-template-rows: minmax(50px, auto) 35px;
    margin-bottom: 15px;
}

.posts__input {
    margin-bottom: 15px;
    font-family: inherit;
    resize: vertical;
}

.posts__button {
    width: 200px;
    justify-self: end;
    background-color: orange;
    font-family: inherit;
    border-radius: 3px;
    border: none;
}

.posts__list {
    list-style: inside;
}


.posts__item {
    margin-bottom: 15px;
}

.footer {
    display: grid;
    grid-area: footer;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}

.footer p {
    margin: auto;
    font-size: 20px;
}

.developing__wrapper {
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    background-color: white;
    border-radius: 5px;
}

.developing__wrapper p {
    margin: auto;
}

.dialogs__wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 5px;
}

.dialogs__list {
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}

.dialogs__item {
    margin-bottom: 10px;
}


.messages {
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}

.message {
    margin-bottom: 5px;
}

.messages__container {
    margin-bottom: 15px;
}

.messages__new-container {
    display: grid;
    grid-template-rows: minmax(50px, auto) 35px;
    margin-bottom: 15px;
}

.messages__input {
    margin-bottom: 15px;
    font-family: inherit;
}

.messages__send-button {
    display: block;
    width: 200px;
    justify-self: end;
    background-color: orange;
    font-family: inherit;
    border-radius: 3px;
    border: none;
}

.users {
    background-color: white;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}

.users__list {
    display: grid;
    gap: 15px;
}

.users__item {
    display: grid;
    grid-template-areas:
        "avatar info"
        "button info";
    grid-template-columns: 20% auto;
    gap: 3px;
    padding: 3px;
    border: 2px solid rgba(46, 49, 49, 0.1);
    border-radius: 5px;
}

.users__avatar-container {
    grid-area: avatar;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.users__avatar {
    border-radius: 50%;
}

.users__follow-button {
    grid-area: button;
    margin: 0 auto;
    height: 20px;
    width: 80px;
    border: none;
    background-color: orange;
    border-radius: 5px;
}

.users__information-container {
    display: grid;
    grid-area: info;
}

.users__pages {
    margin-bottom: 20px;
}

.users__page {
    margin-right: 10px;
}

.users__page--active {
    color: orange;
}